* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #331D2C;
    padding: 5px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #331D2C;
}

.container {
    height: 850px;
    width: 90%;
    background-color: /*#331D2C*/ black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    border-radius: 1%;
}

.container .card {
    width: 30%;
    height: 650px;
    margin: 4% 0;
    background-color: #3F2E3E;
    position: absolute;
}

.card p {
    width: 95%;
    height: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
    color: #EFE1D1;
    border-radius: 3%;
    /*overflow: scroll;*/
}

#centerCard {
    animation-name: tryC;
    animation-duration: 4s;
    animation-delay: 1s;
}

#leftCard {
    left: 25px;
    animation-name: tryL;
    animation-duration: 4s;
    animation-delay: 1s;
}

#rightCard {
    right: 25px;
    animation-name: tryR;
    animation-duration: 4s;
    animation-delay: 1s;
}

/*@keyframes tryC {
    from {top: 0px}
    to {top: -900px}
}

@keyframes tryL {
    from {left: 0px}
    to {left: -450px}
}

@keyframes tryR {
    from {right: 0px}
    to {right: -450px}
}*/